<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!-- Custom styles-->
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Content/dataTables.bootstrap5.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body id="page-top">
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            @Html.ActionLink("E.E.I.M.S", "Index", "Home", new { area = "" }, new { @class = "sidebar-brand align-items-center justify-content-center nav-link" })

            <hr class="sidebar-divider border-light-subtle my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <span class="nav-link">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    @Html.ActionLink("Dashboard", "Index", "Home", new { area = "" }, new { @class = "text-white " })
                </span>
            </li>

            <hr class="sidebar-divider border-light-subtle my-0">

            <li class="nav-item active">
                @Html.ActionLink("Employees", "Index", "Employee", new { area = "" }, htmlAttributes: new { @class = "text-white nav-link" })
            </li>

            <hr class="sidebar-divider border-light-subtle my-0">

            <li class="nav-item active">
                @Html.ActionLink("Roles", "AdminIndex", "Admin", new { area = "" }, htmlAttributes: new { @class = "text-white nav-link" })
            </li>

            <hr class="sidebar-divider border-light-subtle">


            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        @Html.Partial("_LoginPartial")
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" role="button">
                            <img class="img-profile rounded-circle" src="~/Assets/img/undraw_profile.svg">
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                @RenderBody()
            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Gulshan Website @DateTime.Now.Year</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/dataTables.bootstrap5.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>


